<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #0123c9c7;
            color: #fff !important;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Hello</h1>
    <p>Please click the button below to verify your account:</p>
    <a href="{{ button_link }}" class="button" target="_blank">Verify Account</a>
</body>
</html>

